<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <div class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/luan.calais" role="button"
          target="_blank"><i class='bx bxl-facebook'></i></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/luan_calais/?hl=en"
          target="_blank" role="button"><i class='bx bxl-instagram'></i></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1"
          href="https://www.linkedin.com/in/luan-s-calais-186104217/?originalSubdomain=br" target="_blank"
          role="button"><i class='bx bxl-linkedin'></i></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/LuanCalais?tab=repositories"
          target="_blank" role="button"><i class='bx bxl-github'></i></a>
      </div>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 copyright-box" style="background-color: rgba(0, 0, 0, 0.2);">
      Feito com <i class='bx bxs-heart'></i> por
      <a class="text-white" href="https://mdbootstrap.com/">Luan_Calais</a>
    </div>
    <!-- Copyright -->
  </footer>
