body::-webkit-scrollbar {
  width: 5px;
  background-color: #292923;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 1.5px solid #000;
  border-radius: 10px;
}

body {
  font-family: 'Roboto', sans-serif !important;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #00B67A;
}

body i {
  vertical-align: middle;
}

body nav h1 span {
  margin-left: 1rem;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: rgba(75, 75, 75, 0.589);
  font-weight: 400;
}

body nav i {
  font-size: 2rem;
  padding: 10px;
  background-color: #000000;
  border-radius: 200px;
  color: white;
}

body nav .lateral {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 0.9rem;
  font-weight: 700;
}

body nav .perfis {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body nav .row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -3.8vw;
}

body nav .row ul li {
  list-style: none;
}

body nav .row ul li img {
  width: 50px;
  margin: 3px;
  border-radius: 100px;
  border: 3px solid #fff;
}

body nav .row ul li .img1 {
  z-index: 9;
}

body nav .row ul li .img2 {
  z-index: 99;
  margin-left: -25px;
}

body nav .row ul li .img3 {
  z-index: 999;
  margin-left: -30px;
}

body nav .row ul li .first-list-review {
  margin-left: 20px !important;
}

body nav .row ul li .review {
  background-color: #00B67A !important;
  padding: 3px !important;
  border-radius: 2px;
  margin: 2px;
  margin-left: 0px;
  padding: 0px;
  background-color: #fff;
  font-size: 0.5rem;
  color: #fff;
}

body header {
  height: 100vh;
  width: 100%;
}

body header .left-header {
  height: 70vh;
}

body header .left-header .titulo-lateral {
  margin: 60px;
}

body header .left-header .titulo-lateral h4 {
  font-weight: 900;
  font-size: 1.7rem;
}

body header .left-header .titulo-lateral h5 {
  font-weight: 500;
  color: #919191;
  font-size: 1.1rem;
}

body header .left-header .formulario-cad {
  margin-left: 50px;
}

body header .left-header .formulario-cad .form-group {
  padding: 5px;
  width: 40vw;
}

body header .left-header .formulario-cad .form-group label {
  font-weight: 900;
  font-size: 0.9rem;
}

body header .left-header .formulario-cad .form-group input {
  background-color: #eeeeee;
  border-radius: 0px;
}

body header .left-header .formulario-cad .form-group .botao-logar button {
  margin-top: 20px;
  width: 30.9vw;
  font-weight: 500;
  border-radius: 0px;
}

body header .left-header .formulario-cad .form-group .botao-logar button i {
  font-size: 1.5rem;
}

body header .left-header .formulario-cad .form-group .forgot-password {
  color: #919191;
  margin-top: 20px;
  font-size: 0.9rem;
}

body header .left-header .formulario-cad .form-group .forgot-password a {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

body header .ilustracao {
  margin: 50px;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .ilustracao img {
  width: 400px;
}

body section {
  width: 100%;
  height: 120vh;
  background: #141414;
}

body section .conteudo-central {
  border-top: 7px solid #000;
  margin: 10px;
  height: 100%;
  background: #fff;
}

body section .conteudo-central .box-text {
  height: 50vh;
  vertical-align: middle;
}

body section .conteudo-central .box-text-h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
}

body section .conteudo-central .box-text-h5 h5 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 900;
  font-size: 3rem;
}

body section .conteudo-central .box-text-p p {
  font-size: 1.2rem;
}

body section .conteudo-central .area-1 img {
  width: 240px;
}

body section .conteudo-central .area-2 img {
  width: 200px;
  height: 300px;
}

body section .conteudo-central .area-2 .box-text-h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body section .conteudo-central .area-2 p {
  text-align: end;
}

body section .conteudo-central .area-2 p span {
  display: block;
  font-weight: 900;
  font-style: italic;
}

body footer .copyright-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body footer .copyright-box .bxs-heart {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.5rem;
  color: #ee2244;
}
/*# sourceMappingURL=style.css.map */