body::-webkit-scrollbar {
    width: 5px;
    background-color: #292923;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 1.5px solid #000;
    border-radius: 10px;
}

body {

    font-family: 'Roboto', sans-serif !important;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;

    i {
        vertical-align: middle;
    }

    nav {

        h1 span {
            margin-left: 1rem;
            font-size: 2rem;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            color: rgba(75, 75, 75, 0.589);
            font-weight: 400;
        }

        i {
            font-size: 2rem;
            padding: 10px;
            background-color: #000000;
            border-radius: 200px;
            color: rgb(255, 255, 255);
        }

        .lateral {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 0.9rem;
            font-weight: 700;
        }

        .perfis {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .row {

            display: flex;
            align-items: center;
            justify-content: center;

            ul {

                display: flex;
                position: relative;
                left: -3.8vw;

                li {

                    list-style: none;

                    img {
                        width: 50px;
                        margin: 3px;
                        border-radius: 100px;
                        border: 3px solid #fff;
                    }

                    .img1 {
                        z-index: 9;
                    }

                    .img2 {
                        z-index: 99;
                        margin-left: -25px;
                    }

                    .img3 {
                        z-index: 999;
                        margin-left: -30px;
                    }

                    .first-list-review {
                        margin-left: 20px !important;
                    }

                    .review {
                        background-color: #00B67A !important;
                        padding: 3px !important;
                        border-radius: 2px;
                        margin: 2px;
                        margin-left: 0px;
                        padding: 0px;
                        background-color: #fff;
                        font-size: 0.5rem;
                        color: #fff;
                    }


                }
            }

        }

    }

    header {
        height: 100vh;
        width: 100%;

        .left-header {

            height: 70vh;

            .titulo-lateral {
                margin: 60px;

                h4 {
                    font-weight: 900;
                    font-size: 1.7rem;
                }

                h5 {
                    font-weight: 500;
                    color: #919191;
                    font-size: 1.1rem;
                }

            }

            .formulario-cad {
                border: 1px solid rgba(0, 0, 0, 0.226);
                border-radius: 0px 10px 10px 0px;
                -webkit-box-shadow: -10px 6px 0px 1px #000000;
                box-shadow: -10px 6px 0px 1px #000000;
                margin-left: auto;

                .form-group {
                    margin: 8px;
                    padding: 5px;

                    .err-msg{
                        background-color: rgb(224, 71, 71);
                        color: #fff;
                        padding: 9px;
                        border-radius: 10px;
                        text-align: center;
                        margin: 10px;
                    }

                    label {
                        font-weight: 900;
                        font-size: 0.9rem;
                    }

                    input {
                        background-color: #eeeeee;
                        border-radius: 0px;
                    }

                    .botao-logar {

                        button {
                            margin-top: 20px;
                            width: 100%;
                            font-weight: 500;
                            border-radius: 0px;

                            i {
                                font-size: 1.5rem;
                            }
                        }
                    }

                    .forgot-password {
                        color: #919191;
                        margin-top: 20px;
                        font-size: 0.9rem;

                        a {
                            color: #000000;
                            font-weight: 700;
                            text-decoration: none;
                        }

                    }

                }

            }
        }

        .ilustracao {
            margin: 50px;
            height: 70vh;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 400px;
            }

        }

    }

    section {
        width: 100%;
        height: auto;
        background: #141414;

        .conteudo-central {
            border-top: 7px solid #000;
            margin: 10px;
            margin-bottom: 0px;
            height: auto;
            background: #fff;

            .box-text {
                height: auto;
                vertical-align: middle;
            }

            .box-text-h5 {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 20%;

                h5 {
                    font-family: 'Bebas Neue', cursive;
                    font-weight: 900;
                    font-size: 3rem;
                }
            }

            .box-text-p {

                p {
                    font-size: 1.2rem;
                }
            }

            .area-1 {
                img {
                    width: 240px;
                }
            }

            .area-2 {
                img {
                    width: 200px;
                    height: 300px;
                }

                .box-text-h5 {
                    display: flex;
                    justify-content: flex-end;
                }

                p {
                    text-align: end;

                    span {
                        display: block;
                        font-weight: 900;
                        font-style: italic;
                    }
                }

                .img-section{
                    display: flex!important;
                    justify-content: flex-end!important;
                }
            }

        }
    }

    #sessaoFinal {
        height: auto;
        background-color: #141414 !important;

        article {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: relative;

            h1 {
                color: #fff;
                font-size: 8rem;
                font-weight: 900;
                letter-spacing: 2rem;
            }

            h1:nth-child(1) {
                position: absolute;
                color: transparent;
                -webkit-text-stroke: 2px rgb(255, 255, 255);
            }

            h1:nth-child(2) {
                color: rgb(85, 85, 85);
                animation: animate 3s ease-in-out infinite;
            }

            @keyframes animate {

                0%,
                100% {

                    clip-path: polygon(0% 45%,
                            16% 44%,
                            33% 50%,
                            54% 60%,
                            70% 61%,
                            84% 59%,
                            100% 52%,
                            100% 100%,
                            0% 100%);
                }

                50% {
                    clip-path: polygon(0% 60%,
                            15% 65%,
                            34% 66%,
                            51% 62%,
                            67% 50%,
                            84% 45%,
                            100% 46%,
                            100% 100%,
                            0% 100%);
                }

            }

        }
    }




    footer {

        .copyright-box {

            display: flex;
            justify-content: flex-end;

            .bxs-heart {
                margin-left: 5px;
                margin-right: 5px;
                font-size: 1.5rem;
                color: rgb(238, 34, 68);
            }
        }

    }

    @media (max-width: 991px){
        .img-section img{
            display: none!important;
        }
    }

}